<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smudgy | Home</title>
    <style>
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar { display: none; }

body{
    background: #282828;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    float: right;
    list-style: none;
    margin-right: 20px;
}

li:first-child {
    float: left;
    margin-right: none;
    font-size: 22px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    color: #f35656;
}
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Smudgy</li>
                <li><a href="games">GAMES</a></li>
                <li><a href="/">HOME</li>
            </ul>
        </nav>
    </header>
</body>
</html>